@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h2 class="display-6">Uygulama Hakkında</h2>
    <p>Kargo Takip Otomasyonu, kullanıcıların kargo işlemlerini kolayca takip edebilmeleri ve yönetebilmeleri için geliştirilmiştir.</p>
</div>
